
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(177, 54, 54);
   
}
 
/* design of login box outer */

.login{
   
width: 400px;
height: 430px;
background-color: rgb(221, 184, 184);
border-radius: 20px;
display: flex;
justify-content: center;
text-align: center;
position: relative;
}

h1{
    color:rgb(255, 11, 11);
    margin-top: 20px; 
    text-align: center;
}

.input-box{

    width: 300px;
    margin: 30px;
    border-bottom: 2px solid white;
   
    
}

.input-box  input{

    width:100%;
    height: 40px;
    border: none;
 /* border-radius: 20px;    */
    background: transparent;  
    outline:none ;
    font-size: 1em;
  
    padding-right: 30px;

    transform: translateY(8px);
   

}

.icon{
    position: absolute;
    right: 50px;
    color: black;
    font-size: 1.2em;
    line-height: 50px;
}

/*
.input-box  ::placeholder{
   
    color:black;
    transform: translateY(-80%);
    pointer-events: none;
    margin-left: 5px;
    
   
}

*/

/*
.input-box input:focus~label, 
.input-box input:valid~label
{

    top:-5px;
}

*/

.sub{

    width:110px;
    height: 30px;
    border-radius: 20px;
    border-radius: 1px 1px 3px rgb(110, 107, 107);
    background: transparent;
    cursor: pointer;
    text-align: center;
    margin:20px ;
    color: rgb(19, 17, 17);
    font-size: 17px;
    font-weight: 600;
}

.sub:hover{
    color: red;
    border: 2px solid red;
}

.signup a{

    text-decoration: none;
    color:rgb(255, 7, 7);
    font-size: 18px;
    font-weight: 530px;
}

.signup a:hover{
    color: rgb(19, 18, 18);

}

.signup{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin: 30px;
       
}


